@import "tailwindcss";

@keyframes slide-up-fade {
    0% {
        opacity: 0;
        transform: translateY(16px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes bounce-loop {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
}

.animation-slide-up-title {
    opacity: 0;
    animation: slide-up-fade 1s ease-out 0s forwards;
}

.animation-slide-up-subtext {
    opacity: 0;
    animation: slide-up-fade 1s ease-out 1s forwards;
}

.animation-slide-up-chevron {
    opacity: 0;
    animation: slide-up-fade 1s ease-out 2s forwards,
    bounce-loop 2s ease-in-out 3s infinite;
}


@tailwind base;
@tailwind components;
@tailwind utilities;